*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #efefef;
	font-family: sans-serif;
}

/* a11y (accessibility) */

/*
	References:
	* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
	* https://webaim.org/techniques/skipnav/
*/
.skip-links {
	inset-inline-start: -100vw;
	position: absolute;

	ul {
		list-style: none;
	}

	a {
		background: black;
		color: white;
		inset-block-start: 0;
		inset-inline-start: 0;
		opacity: 0;
		padding: 1em;
		position: fixed;
		transform: translateY(-10em);
		transition:
			transform 0.3s ease-in-out,
			opacity 0.3s ease-in-out;

		&:focus {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

/* Card */

.card {
	background-color: white;
	border-radius: 0.25em;
	box-shadow: 0 1px 3px rgba(0 0 0 / 0.1);
}

/* Button */

button {
	font-size: 0.875rem;
	padding: 0.5em 1em;
}

/* Input */

input[type="text"],
textarea {
	font-size: 1rem;
	line-height: 2;
	padding-inline: 0.5em;
}

/* Label */
label {
	font-size: 0.875rem;
	line-height: 1.5;
}

/* Layout */

.layout--container {
	max-inline-size: 80ch;
	margin-inline: auto;
}

.layout--stack {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Spacing */

.padding--1em {
	padding: 1em;
}

/* Site Header */

.site-header {
	background-color: white;
	box-shadow: 0 1px 3px rgba(0 0 0 / 0.1);

	ul {
		display: flex;
		gap: 0.5em;
		list-style: none;
		padding: 1em;
	}
}
